.tabs{
    background-color: #16A4D1;
    
}
.tabsindividual{
    background-color: #16A4D1;
    
}
ion-icon{
    fill:#FFFFFF
}
.whitecolor{
    color: #FFFFFF;
}
.div1{
    background-color: #FFFFFF;
    height: 120px;
    width: 5px;
}
.fill{
    color: #FFFFFF;
}