<!-- <ion-tabs>
    <ion-tab-bar class="tabs" slot="bottom" >
        <ion-tab-button class="tabsindividual" tab="tab1">
            <ion-icon ios="ios-musical-notes" md="md-musical-notes" ></ion-icon> 
          <ion-label class="whitecolor" >Playlists</ion-label>
        </ion-tab-button>
   -->
    <!-- <ion-tab-button class="tabsindividual" tab="tab2">
        <ion-icon ios="ios-search" md="md-search" ></ion-icon>
      <ion-label  class="whitecolor">  Music</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tabsindividual" tab="tab3">
      <ion-icon ios="ios-search" md="md-search" ></ion-icon>
    <ion-label  class="whitecolor">  geo </ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>

   -->