<ion-header>
  <img src="../../assets/taskbar.png" alt="">
</ion-header>

<ion-content>

  <div>
    <h1>Recommended playlist</h1>
    <table style="width:100%">
      <tr>
        <td align="center">

          <img routerLink='/playlists' src="../../assets/edm.png" alt="EDM" style="width: 174px" style="height: 199px">
          <div class="blue">
            <h3>EDM</h3>
          </div>
        </td>
        <td align="center">
          <img src="../../assets/Hiphop.png" alt="Hiphop" style="width: 174px" style="height: 199px">
          <div class="blue">
            <h3>Hiphop</h3>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="../../assets/rap.png" alt="Rap" style="width: 174px" style="height: 199px" >
          <div class="blue">
            <h3>Rap</h3>
          </div>
        </td>
        <td align="center">
          <img src="../../assets/skrillex.png" alt="Dubstep" style="width: 174px" style="height: 199px">        
          <div class="blue">
            <h3>Dubstep</h3>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ion-content>